body{
    text-align: left;
    background: beige;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 15px;
}
h2{
    text-align: center;
    color: brown;
    font-size: 20px;
    text-decoration: underline;
}
p{
    text-align: center;
}
label{
    font-weight: bold;
    margin: 120px 0px 15px;
}
select{
    font-family: monospace;
    display: inline-block;

}
footer{
    font-size: x-small;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin:  115px 0px 20px;
    color: red;
}
#clockdiv{
    font-family: sans-serif;
    font-size: larger;
    text-align: center;
    display: inline-block;
    font-weight: bold;
    color: brown;
}
#clockdiv > div{
    padding: 10px;
    border-radius: 10px;
    background: cornflowerblue;
    display: inline-block;
}
#clockdiv > div >span{
    padding: 10px;
    border-radius: 10px;
    background: burlywood;
    display: inline-block;
}
h1{
    text-align: left;
    color: brown;
    font-size: 20px;
    text-decoration: solid;
}
h3{
    text-align: center;
}